# Backend
backend/venv/
backend/__pycache__/
backend/**/__pycache__/
backend/.env
backend/storage/*
!backend/storage/.gitkeep

# Frontend
frontend/node_modules/
frontend/dist/

# Divers
.DS_Store
*.log
