# Copiez ce fichier en ".env" et adaptez les valeurs à votre installation MySQL locale

DB_HOST=localhost
DB_PORT=3306
DB_NAME=prof_platform
DB_USER=root
DB_PASSWORD=changeme

SECRET_KEY=change-moi-en-local
UPLOAD_FOLDER=storage
FLASK_DEBUG=1
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=
